<div class="card bg-light">
  <div class="card-body">
    <%= comment.message %><br>
    <%= link_to("Reply",
                {
                  controller: "comments",
                  action: "new",
                  comment: {parent_id: comment.id, submission_id: comment.submission.id}
                },
                class: 'btn btn-primary btn-sm') %>
    <%= link_to("Delete",
                comment_path(comment),
                class: 'btn btn-danger btn-sm',
                data: { confirm: 'Are you sure?'},
                method: :delete) %>

    <%= render comment.replies %>
  </div>
</div>
