<h1>Front Page!</h1>

<%= render partial: 'listing', locals: { submissions: @submissions } %>

<%= link_to 'New Submission', new_submission_path, class: 'btn btn-primary' %>
<%= link_to 'New Community', new_community_path, class: 'btn btn-primary' %>
