<h1><%= @community.name %></h1>

<%= render partial: 'listing', locals: { submissions: @community.submissions.reverse_order } %>

<br>
<%= link_to 'New Submission', new_submission_path(community_id: @community.id), class: 'btn btn-primary' %>
